<?Menublog?>
<div class="atk-row">
    <?Posts?>
    <?rows?>
    <?row?>
    <div class="blog-menu ui-state-default ui-corner-all" title="<?$menutitle?>"><a href="<?$link?>">            
            <div class="txt-menu">
                <div><?image?>IMG<?/?></div>
                <div><?title?>Here will be my post title<?/?></div>
                <div><?intro?>Lorem ispum Lorem ispum <?/?></div>
            </div>
        </a>
    </div>
    <?/row?>
    <?/rows?>
    <?/Posts?>
</div>
<?/Menublog?>
