<!DOCTYPE html>
<html lang="en">
    <head>
		<title><?page_title?>Echo Analize<?/?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>?v=102" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/jquery-ui.css<?/?>?v=102" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-main.css<?/?>?v=102" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-custom.css<?/?>?v=102" />
                <link rel="stylesheet" type="text/css" href="<?template?>css/atk-icons.css<?/?>?v=102" />
                <link rel="stylesheet" type="text/css" href="<?template?>css/custom.css<?/?>?v=102" />
                <meta name="description" content="<?page_description?>Echo Analize Software<?/?>" />
                <meta name="keywords" content="<?page_keywords?>Echo,Analize,Software,Opensource<?/?>" />
                <meta name="author" content="Sornarin Bunyapitaks(tom-akmaxim@admin.in.th)" />
                <!--
                    Author : Sornarin Bunyapitaks
                    Email : tom-akmaxim@admin.in.th
                    Copyright : www.echoanalize.com
                -->
		<?$js_include?>
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="<?template?>css/ie8.css<?/?>"/>
			<script type="text/javascript" src="<?template?>css/ie8.js<?/?>"></script>
		<![endif]-->
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>
	</head>
	<body>
		<div id="atk-layout" class="atk-wrapper">
                    <div id="header" style="border-bottom: 1px #999 dotted; padding-bottom: 5px;">
				<?logo?><div id="atk-logo" class="ui-widget-header float-left"><a 
                                    href="<?page?>index<?/?>"><img src="<?template?>images/logo.png<?/?>" /></a></div><?/logo?>
				<div id="header-right">
					<?Menu?>
                            <div class="atk-menu atk-menu-horizontal ui-widget">
                                <ul>
								    <li class="ui-state-default"><a href="javascript:void(0)">Menu is not defined</a></li>
                                </ul>
							</div>
					<?/?>
                                        <div id="atk-version"><b><?name?>Echo Analize<?/?>™</b><br/><i>Software foundation</i></div>
                                        <div style="float:right;margin-top:1.5em; padding-right: 70px;">
                                            <div class="atk-form-field" style="width: 200px;">
                                            <div class="input-row">
                                            <div class="input-cell expanded">
                                            <input type="text">
                                            </div>
                                            <div class="input-cell">
                                            <button id="demo-datepicker" class="demo-button ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" aria-disabled="false" title="demo">
                                            <span class="ui-button-icon-primary ui-icon ui-icon-search"></span>
                                            <span class="ui-button-text">demo</span>
                                            </button>
                                            </div>
                                            </div>
                                            </div>
                                         </div>
				</div>
			</div>
			<?$Content?>
			<div id="atk-footer-guard"></div>
		</div>
		<?Footer?>
		<div id="footer" class="atk-wrapper">
			<?footer_text?>
			Power by <a href="#">Acho Analize</a>™ Software &copy; 2013–<?date_copy?>2013x<?/?>.<br/>
                        This system is implemented and supported by Agile Toolkit™ <a href="#">See License</a>
			<?/?>
		</div>
		<?/?>
		<div id="atk-growl-holder" class="atk-growl"></div>
	</body>
</html>