<style>

    .section-heading {
        font-size:42px;
        color:#b3bbc3;
        margin-top: -60px;
        padding-top: 0px;
        margin-bottom:0.7em;
        border-bottom:  1px #999 dotted;
    }
    .section-heading>span{
        padding-left: 20px;
        font-size: 14px;
        color: #999;
    }
</style>
<div class="section-heading">Dashboard<span>[ Welcome : <a href="./setting"><?display_name?>Display name<?/?></a> ]</span></div>
<div id="dashboard-gs" class="section">
    <div class="atk-row" title="3 column layout">
        <div class="span4">
            <div class="span-header ui-state-default ui-corner-top">
                <i class="atk-icon atk-icons-gray atk-icon-office-filledfile"></i>
                Column #1
            </div>
            <div class="admin-box ui-widget-content ui-corner-bottom">
                xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>
            </div>
        </div>
        <div class="span4">
            <div class="span-header ui-state-default ui-corner-top">
                <i class="atk-icon atk-icons-gray atk-icon-office-filledfile"></i>
                Column #1
            </div>
            <div class="admin-box ui-widget-content ui-corner-bottom">
                xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>
            </div>
        </div>
        <div class="span4">
            <div class="span-header ui-state-default ui-corner-top">
                <i class="atk-icon atk-icons-gray atk-icon-office-filledfile"></i>
                Column #1
            </div>
            <div class="admin-box ui-widget-content ui-corner-bottom">
                xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>
            </div>
        </div>
    </div>
    <div class="atk-row" title="3 column layout">
        <div class="span4">
            <div class="span-header ui-state-default ui-corner-top">
                <i class="atk-icon atk-icons-gray atk-icon-office-filledfile"></i>
                Column #1
            </div>
            <div class="admin-box ui-widget-content ui-corner-bottom">
                xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>
            </div>
        </div>
        <div class="span4">
            <div class="span-header ui-state-default ui-corner-top">
                <i class="atk-icon atk-icons-gray atk-icon-office-filledfile"></i>
                Column #1
            </div>
            <div class="admin-box ui-widget-content ui-corner-bottom">
                xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>
            </div>
        </div>
        <div class="span4">
            <div class="span-header ui-state-default ui-corner-top">
                <i class="atk-icon atk-icons-gray atk-icon-office-filledfile"></i>
                Column #1
            </div>
            <div class="admin-box ui-widget-content ui-corner-bottom">
                xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>xxx<br/>
            </div>
        </div>
    </div>
</div>
<?$Content?>